{% extends "base.html" %}


{% block header %}
<h1 class="font-display font-bold uppercase text-[2.75rem] md:text-7xl lg:text-[4rem] xl:text-[5.75rem] font-heading max-w-4xl mx-auto text-center">
	B2B SaaS Examples	
</h1>
{% endblock %}


{% block content %}

<div class="grid grid-cols-3 gap-4">
	<div class="border rounded p-4">
		<p class="pb-1 text-xl">Example</p>
		<p>Description one two three</p>
		<div style="width:450px; height:600px;" class="mt-4 bg-slate-400 mx-auto rounded"></div>
	</div>
	<div class="border rounded p-4">
		<p class="pb-1 text-xl">Example</p>
		<p>Description one two three</p>
		<div style="width:450px; height:600px;" class="mt-4 bg-slate-400 mx-auto rounded"></div>
	</div>
	<div class="border rounded p-4">
		<p class="pb-1 text-xl">Example</p>
		<p>Description one two three</p>
		<div style="width:450px; height:600px;" class="mt-4 bg-slate-400 mx-auto rounded"></div>
	</div>
</div>

{% endblock %}