{% extends "base.html" %}

{% block title %}
Content Marketing Portfolio | SEO, Video, Content Writing - Duncan Trevithick
{% endblock %}

{% block header %}
<h1 class="font-display font-bold uppercase text-[2.75rem] md:text-7xl lg:text-[4rem] xl:text-[5.75rem] font-heading max-w-4xl mx-auto text-center">Content Marketing Portfolio</h1>
<p class="text-2xl"></p>
{% endblock %}

{% block content %}

<section class="relative mx-auto space-y-8">
	
	{% for category in categories %}
	<div>
	<h2 class="text-2xl mb-6">{{ category.name }}</h2>

	{% if category.Description %}
	<p>{{category.description}}</p>
	{% endif %}
	
	<div class="grid grid-cols-2 gap-6 mb-12">
	{% for item in category.portfolioitem_set.all %}
	
		<div class="space-y-4 border rounded p-6">
			<h3 class="text-lg">{{ item.title }}</h3>
		
			{% if item.youtube_id %}
			<div class="aspect-w-16 aspect-h-9">
				<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{item.youtube_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</div>
			{% endif %}
			{% if item.client %}
			{% if item.client.is_published %}
			<p class="bg-slate-200 p-2 rounded text-slate-500">Client: <a href="{% url 'company-detail' item.client.slug %}" class="border-b border-violet-300">{{item.client.name}}</a></p>
			{% else %}
			<p class="bg-slate-200 p-2 rounded text-slate-500">Client: {{item.client.name}}</p>
			{% endif %}
			{% endif %}
			<p><a href="{{item.link}}" target="_blank" rel="nofollow" class="border-b border-violet-300">View</a></p>
		</div>
	
	{% endfor %}
	</div>
	{% endfor %}
	</div>
	
</section>


{% endblock %}