{% extends "base.html" %}
{% load humanize %}

{% block title %}
B2B SaaS Content Writer Duncan Trevithick
{% endblock %}

{% block header %}
		<h1 class="font-display font-bold uppercase text-[2.75rem] md:text-5xl lg:text-[3rem] xl:text-[4.75rem] font-heading max-w-4xl mx-auto text-center">
			B2B SaaS Content Writer
		</h1>
		<p></p>
{% endblock %}

{% block content %}


<section class="relative mx-auto space-y-8">
{% if portfolio_items %}

<h2 class="text-2xl">Content Writing Examples</h2>

<div class="grid grid-cols-2 gap-6">
{% for item in portfolio_items %}

	<div class="space-y-4 border rounded p-6">
		<h3 class="text-lg">{{ item.title }}</h3>
		<p><a href="{{item.link}}" target="_blank" rel="nofollow" class="border-b border-violet-300">View</a></p>
	</div>


{% endfor %}
</div>

{% endif %}
</section>


{% endblock %}